<kendo-grid [data]="gridData">
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add new</button>
  </ng-template>
  <kendo-grid-column field="Id" title="ID"> </kendo-grid-column>
  <kendo-grid-column field="Name" title="Name"> </kendo-grid-column>
  <kendo-grid-column field="Gender" title="Gender"> </kendo-grid-column>
  <kendo-grid-column field="Address" title="Address"> </kendo-grid-column>
  <kendo-grid-column field="MobileNo" title="MobileNo"> </kendo-grid-column>
  <kendo-grid-column field="Dateofbirth" title="Date of birth">
  </kendo-grid-column>
  <kendo-grid-column field="Age" title="Age"> </kendo-grid-column>
  <kendo-grid-command-column title="command">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
